/* You can add global styles to this file, and also import other style files */
body {
  font-size: 20px;
}

h1 {
  color: #ff6f00;
}

hr {
  background: #e65100;
  border: 0;
  color: #e65100;
  height: 3px;
  margin: 50px 0 50px 0;
}

li {
  margin: 0 0 50px 0;
}